<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header-completo">
        <div class="logo-buscador">
            <img class="logo" src="img/logo-mercado-liebre.svg" alt="logo MercadoLiebre">
            <form class="barra-buscador" action="/register" method="POST">
                <input type="text" name="buscador" id="buscador" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="cuotas-icono">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>

        <nav class="vinculos">
            <ul>
                <li><a href="http://localhost:3030/ofertas">Ofertas</a></li>
                <li><a href="http://localhost:3030/Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="http://localhost:3030/Vender">Vender</a></li>
                <li><a href="http://localhost:3030/Ayuda">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="http://localhost:3030/register">Creá tu cuenta</a><i class="far fa-id-card"></i>
                </li>
                <li><a href="http://localhost:3030/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="http://localhost:3030/Mis compras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div><img class="banner" width=100% src="img/img-home-banner.jpg" alt="banner promocional"></div>

    <main>
        <h1 class="titulares titular_ultima_visita">
            Basado en tu última visita
        </h1>
        <section class="articulos-completo">
            <article class="articulo">
                <div class="elemento"><img class="img img_cafetera_moulinex" src="img/img-cafetera-moulinex.jpg" alt="cafetera Moulinex">
                </div>

                <div class="icono_art_desc_prod">
                    <i class="fas fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precio precio_cafetera_moulinex">$6.770</p>
                        <p class="descuento descuento_cafetera_moulinex">40% off</p>
                    </div>

                    <p class="producto cafetera_moulinex">Cafetera Moulinex</p>
                </div>

            </article>

            <article class="articulo">

                <div class="elemento"><img class="img img_computadora_macbook" src="img/img-macbook-pro-2019.jpg" alt="computadora Macbook"></div>

                <div class="icono_art_desc_prod">
                    <i class="fas fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precio precio_macbook">$230.000</p>
                        <p class="descuento descuento_macbook">20% off</p>
                    </div>

                    <p class="producto computadora_macbook"> Macbook Pro 2019</p>
                </div>

            </article>

            <article class="articulo">

                <div class="elemento"><img class="img img_samsung_galaxy" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                </div>

                <div class="icono_art_desc_prod">
                    <i class="fas fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precio precio_samsung_galaxy">$70.500</p>
                        <p class="descuento descuento_samsung_galaxy">10% off</p>
                    </div>

                    <p class="producto samsung_galaxy">Samsung Galaxy S10</p>
                </div>

            </article>

            <article class="articulo">

                <div class="elemento"><img class="img img_tv_samsung" src="img/img-tv-samsung-smart.jpg" alt="tele Samsung"></div>

                <div class="icono_art_desc_prod">
                    <i class="fas fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precio precio_tv_samsung">$23.200</p>
                        <p class="descuento descuento_tv_samsung">5% off</p>
                    </div>

                    <p class="producto tv_samsung">smartTV Samsung 43"</p>
                </div>
            </article>
        </section>

        <section class="ofertas">

            <h1 class="titulares titular_ofertas">
                Sección de ofertas
            </h1>
        </section>
        <section class="articulos-completo">
            <article class="articulo">

                <div class="elemento"><img class="img img_cafetera_moulinex" src="img/img-cafetera-moulinex.jpg" alt="cafetera Moulinex">
                </div>

                <div class="icono_art_desc_prod">
                    <i class="fas fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precio precio_cafetera_moulinex">$6.770</p>
                        <p class="descuento descuento_cafetera_moulinex">40% off</p>
                    </div>
                    <p class="producto cafetera_moulinex">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="articulo">
                <div class="elemento"><img class="img img_computadora_macbook" src="img/img-macbook-pro-2019.jpg" alt="Computadora Macbook"></div>
                <div class="icono_art_desc_prod">
                    <i class="fas fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precio precio_macbook">$230.000</p>
                        <p class="descuento descuento_macbook">20% off</p>
                    </div>
                    <p class="producto computadora_macbook"> Macbook Pro 2019</p>
                </div>
            </article>
            <article class="articulo">
                <div class="elemento"><img class="img img_samsung_galaxy" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                </div>
                <div class="icono_art_desc_prod">
                    <i class="fas fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precio precio_samsung_galaxy">$70.500</p>
                        <p class="descuento descuento_samsung_galaxy">10% off</p>
                    </div>
                    <p class="producto samsung_galaxy">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="articulo">
                <div class="elemento"></div><img class="img img_tv_samsung" src="img/img-tv-samsung-smart.jpg" alt="tele Samsung"></div>
                <div class="icono_art_desc_prod">
                    <i class="fas fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precio precio_tv_samsung">$23.200</p>
                        <p class="descuento descuento_tv_samsung">5% off</p>
                    </div>
                    <p class="producto tv_samsung">SmartTV Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="tarjeta">
            <div class="iconos_foot">
                <div><i class="fas fa-credit-card"></i></div>
                <div class="tajeta-efectivo">
                    <strong>
                        Pagá con tarjeta o en efectivo.
                    </strong>
                </div>
                <p class="p-foot">
                    Con MercadoLiebre Cash, tenés cuotas sin
                    <br>interés con tarjeta o efectivo en puntos de
                    <br> pago. ¡Y siempre es seguro!
                </p>
            </div>
        </section>
        <section class="envio-gratis">
            <div class="iconos_foot">
                <div class="envio">
                    <div><i class="fas fa-gift"></i></div>
                    <strong>
                        Envió gratis desde $2.500.
                    </strong>
                </div>
                <div>
                    <p class="p-foot">
                        Solo por estar registrad@ en MercadoLiebre
                        <br>tenés envios gratis en miles de productos. Es
                        <br> un beneficio de MercadoPuntos.
                    </p>
                </div>
            </div>
        </section>
        <section class="segurdidad">
            <div class="iconos_foot">
                <div><i class="fas fa-user-shield"></i></div>
                <div>
                    <strong>
                        Seguridad de principio a fin.
                    </strong>
                </div>
                <p class="p-foot">
                    ¿No te gusta?¡Devolvelo! En MercodoLiebre,
                    <br>no hay nada que no puedas hacer, porque
                    <br>estas siempre protegid@.
                </p>
            </div>
        </section>
        <section>
            <div class="pie">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </div>
        </section>
    </footer>
</body>

</html>