<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header-completo">
        <div class="header-s-banner">
            <div class="logo-buscador">
                <img class="logo" src="img/logo-mercado-liebre.svg" alt="logo MercadoLiebre">
                <form action="/register" method="POST">
                    <div class="buscador">
                        <label>Buscar</label>
                        <input type="text" name="buscador" id="buscador" maxlength="20">
                    </div>
                </form>
                <p class="cuotas-icono">
                    <i class="fas fa-hand-holding-usd"></i>
                    <strong>
                        Comprá en cuotas y sin tarjeta de crédito
                    </strong>
                </p>
            </div>

            <div class="vinculos">
                <nav>
                    <ul>
                        <li><a href="http://localhost:3030/ofertas">Ofertas</a></li>
                        <li><a href="http://localhost:3030/Tiendas Oficiales">Tiendas Oficiales</a></li>
                        <li><a href="http://localhost:3030/Vender">Vender</a></li>
                        <li><a href="http://localhost:3030/Ayuda">Ayuda</a></li>
                    </ul>
                </nav>

                <nav>
                    <ul>
                        <li><a href="http://localhost:3030/register">Creá tu cuenta</a><i class="far fa-id-card"></i>
                        </li>
                        <li><a href="http://localhost:3030/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                        <li><a href="http://localhost:3030/Mis compras">Mis compras</a><i
                                class="fas fa-shopping-basket"></i></li>
                    </ul>
                </nav>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>

        <div><img class="banner" src="img/img-home-banner.jpg" alt="banner promocional"></div>

    </header>
    <main>
        <body>
            <section class="formulario-completo">
            <form action="/login" method="POST" class="primer-formulario">
                <div class="control-formulario">
                    <label>Nombre y Apellido:</label>
                    <input type="text" name="nombre" id="nombre" required class="control">
                  </div>
              <div class="control-formulario">
                <label>Contraseña:</label>
                <input type="password" name="password" id="password" required class="control controlLog" minlength="8">
              </div>
              <div>
                <button value="ENVIAR" type="submit" class="boton-formulario">ENVIAR</button>
              </div>
            </form>
        </section>
    </main>
    <section class="iconos_foot">
        <div><i class="fas fa-credit-card"></i></div>
        <div>
            <strong>
                Pagá con tarjeta o en efectivo.
            </strong>
        </div>
        <p>
            Con MercadoLiebre Cash, tenés cuotas sin
            <br>interés con tarjeta o efectivo en
            puntos de
            <br> pago. ¡Y siempre es seguro!
        </p>
    </section>
    </footer>
    <section class="iconos_foot">
        <div><i class="fas fa-gift"></i></div>
        <div>
            <strong>
                Envió gratis desde $2.500.
            </strong>
        </div>
        <div>
            <p>
                Solo por estar registrad@ en MercadoLiebre
                <br>tenés envios gratis en miles de
                productos. Es
                <br> un beneficio de MercadoPuntos.
            </p>
        </div>
    </section>
    <section class="iconos_foot">
        <div><i class="fas fa-user-shield"></i></div>
        <div>
            <strong>
                Seguridad de principio a fin.
            </strong>
        </div>
        <p>
            ¿No te gusta?¡Devolvelo! En MercodoLiebre,
            <br>no hay nada que no puedas hacer,
            porque
            <br>estas siempre protegid@.
        </p>
    </section>
    <section>
        <div class="pie">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </div>
    </section>
    <footer>
</body>

</html>